{% extends "main.html" %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb dorne-breadcrumb">
        <li><i class="glyphicon glyphicon-home"></i></li>
        <li><a href="{% url 'user:users' %}">用户</a></li>
    </ol>
{% endblock %}

{% block content %}
{% endblock %}

{% block foot_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#users').addClass('dorne-sidebar-active');
        });
    </script>
    {{ block.super }}
{% endblock %}