<div>
    <table id="system_table" data-classes="table table-hover"
            data-toggle="table"
            data-pagination="true"
            data-locale="zh-CN"
            data-search="true"
            data-search-align="left">
        <thead>
        <tr>
            <th></th>
            <th>名字</th>
            <th>描述</th>
        </tr>
        </thead>
        <tbody id="system_table_tbody">
        <tr>
            <td><input type="checkbox"></td>
            <td>系统管理</td>
            <td>系统最高管理角色</td>
        </tr>
        </tbody>
    </table>
</div>
