{% extends 'user/user_info.html' %}
{% load static %}

{% block breadcrumb %}
    <ol class="breadcrumb dorne-breadcrumb">
        <li><i class="glyphicon glyphicon-home"></i></li>
        <li><a href="{% url 'user:users' %}">用户</a></li>
        <li><a href="{% url 'user:user_detail' target_user.id %}">{{ target_user.chinese_name }}</a></li>
        <li><a href="#">角色</a></li>
    </ol>
{% endblock %}

{% block tab_content %}
    <div class="panel panel-default">
        <div class="panel-heading"><h1 class="panel-title">用户角色</h1></div>
        <div class="panel-body table-responsive">
            <div id="user_role_div">
                <label id="target_user_id_label" class="hidden" data-target_user_id="{{ target_user.id }}"></label>
                {% if not is_login_user_system_admin and is_target_user_system_admin %}
                    <p>系统管理员拥有所有权限</p>
                {% elif is_login_user_system_admin and is_target_user_system_admin %}
                    {% if pm_add_system_role or pm_add_organization_role %}
                        <div class="dorne-create-item">
                            <a title="添加角色" href="{% url 'user:user_role_add' target_user.id %}"
                               class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></a>
                        </div>
                    {% endif %}
                    <table data-classes="table table-hover"
                           data-toggle="table"
                           data-pagination="true"
                           data-locale="zh-CN"
                           data-search="true"
                           data-search-align="left"
                           id="user_role_table">
                        <thead>
                        <tr>
                            <th>名字</th>
                            <th>类型</th>
                            <th>角色</th>
                        </tr>
                        </thead>
                        <tbody id="user_role_tbody">
                        {% for sys_role in user_role.system %}
                            <tr>
                                <td>{{ sys_role.name }}</td>
                                <td>{{ sys_role.resource_type }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-default" data-container="#user_role_div"
                                                data-toggle="popover" data-trigger="hover"
                                                data-placement="top" data-content="{{ sys_role.description }}">
                                            {{ sys_role.display_name }}
                                        </button>
                                        <button type="button" class="btn btn-default remove_user_role"
                                                data-role_id="{{ sys_role.id }}">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}

                    {% if pm_add_system_role or pm_add_organization_role %}
                        <div class="dorne-create-item">
                            <a title="添加角色" href="{% url 'user:user_role_add' target_user.id %}"
                               class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></a>
                        </div>
                    {% endif %}
                    <table data-classes="table table-hover"
                           data-toggle="table"
                           data-pagination="true"
                           data-locale="zh-CN"
                           data-search="true"
                           data-search-align="left"
                           id="user_role_table">
                        <thead>
                        <tr>
                            <th>名字</th>
                            <th>类型</th>
                            <th>角色</th>
                        </tr>
                        </thead>
                        <tbody id="user_role_tbody">
                        {% for org_role in user_role.organization %}
                            <tr>
                                <td>
                                    <a href="{% url 'organization:organization_detail' org_role.0.id %}">{{ org_role.0.name }}</a>
                                </td>
                                <td>组织</td>
                                <td>
                                    {% for role in org_role.1 %}
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-default"
                                                    data-container="#user_role_div" data-toggle="popover"
                                                    data-trigger="hover"
                                                    data-placement="top" data-content="{{ role.description }}">
                                                {{ role.display_name }}
                                            </button>
                                            {% if pm_add_system_role or pm_add_organization_role %}
                                                <button type="button" class="btn btn-default remove_user_role"
                                                        data-role_id="{{ role.id }}">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}

                        {% for team_role in user_role.team %}
                            <tr>
                                <td>
                                    <a href="{% url 'organization:team_info_detail' team_role.0.id %}">{{ team_role.0.name }}</a>
                                </td>
                                <td>团队</td>
                                <td>
                                    {% for role in team_role.1 %}
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-default"
                                                    data-container="#user_role_div" data-toggle="popover"
                                                    data-trigger="hover"
                                                    data-placement="top" data-content="{{ role.description }}">
                                                {{ role.display_name }}
                                            </button>
                                            {% if pm_add_system_role or pm_add_organization_role %}
                                                <button type="button" class="btn btn-default remove_user_role"
                                                        data-role_id="{{ role.id }}">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}

                        {% for project_role in user_role.project %}
                            <tr>
                                <td>
                                    <a href={% url 'project:project_detail' project_role.0.id %}>{{ project_role.0.name }}</a>
                                </td>
                                <td>项目</td>
                                <td>
                                    {% for role in project_role.1 %}
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-default"
                                                    data-container="#user_role_div" data-toggle="popover"
                                                    data-trigger="hover"
                                                    data-placement="top" data-content="{{ role.description }}">
                                                {{ role.display_name }}
                                            </button>
                                            {% if pm_add_system_role or pm_add_organization_role %}
                                                <button type="button" class="btn btn-default remove_user_role"
                                                        data-role_id="{{ role.id }}">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}

                        {% for inventory_role in user_role.inventory %}
                            <tr>
                                <td>
                                    <a href="{% url 'inventory:inventory_detail' inventory_role.0.id %}">{{ inventory_role.0.name }}</a>
                                </td>
                                <td>仓库</td>
                                <td>
                                    {% for role in inventory_role.1 %}
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-default"
                                                    data-container="#user_role_div" data-toggle="popover"
                                                    data-trigger="hover"
                                                    data-placement="top" data-content="{{ role.description }}">
                                                {{ role.display_name }}
                                            </button>
                                            {% if pm_add_system_role or pm_add_organization_role %}
                                                <button type="button" class="btn btn-default remove_user_role"
                                                        data-role_id="{{ role.id }}">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}

                        {% for template_role in user_role.template %}
                            <tr>
                                <td>
                                    <a href="{% url 'project:template_detail' template_role.0.id %}">{{ template_role.0.name }}</a>
                                </td>
                                <td>模板</td>
                                <td>
                                    {% for role in template_role.1 %}
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-default"
                                                    data-container="#user_role_div" data-toggle="popover"
                                                    data-trigger="hover"
                                                    data-placement="top" data-content="{{ role.description }}">
                                                {{ role.display_name }}
                                            </button>
                                            {% if pm_add_system_role or pm_add_organization_role %}
                                                <button type="button" class="btn btn-default remove_user_role"
                                                        data-role_id="{{ role.id }}">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block foot_js %}
    <script>
        $(function () {
            $("#user_role").addClass("active");
            $('[data-toggle="popover"]').popover();
            $('#user_role_table').on('search.bs.table', function (e, arg1, arg2) {
                $('[data-toggle="popover"]').popover();
            })
        });
    </script>

    <script src="{% static 'js/user_info_role.js' %}"></script>
    {{ block.super }}
{% endblock %}

