<div>
    <table id="project_table" data-classes="table table-hover"
                data-toggle="table"
                data-pagination="true"
                data-locale="zh-CN"
                data-search="true"
                data-search-align="left">
        <thead>
        <tr>
            <th></th>
            <th>名字</th>
            <th>描述</th>
        </tr>
        </thead>
        <tbody id="project_table_tbody">
        {% for project in projects %}
            <tr id={{ project.id }}>
                <td><input type="checkbox"></td>
                <td name="project_name">{{ project.name }}</td>
                <td name="description">{{ project.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <hr/>
    <div class="row dorne-label">
        <label for="project_role_select_id" style="color:red">*</label>角色
    </div>
    <div>
        <select id="project_role_select_id" title="---选择角色---" class="selectpicker">
            <option value="project_admin">项目管理员</option>
            <option value="project_user">项目使用者</option>
        </select>
    </div>
</div>
